<template>
    <div>
        <div class="phone-viewport">
            <md-list class="md-double-line">
                <md-list-item>
                    <md-icon class="md-primary">phone</md-icon>
    
                    <div class="md-list-text-container">
                        <span>(+86) 151-1666-****</span>
                        <span>手机</span>
                    </div>
    
                    <md-button class="md-icon-button md-list-action">
                        <md-icon>sms</md-icon>
                    </md-button>
                </md-list-item>
    
                <md-list-item class="md-inset">
                    <div class="md-list-text-container">
                        <span>(+86) 131-7864-****</span>
                        <span>手机</span>
                    </div>
    
                    <md-divider class="md-inset"></md-divider>
                </md-list-item>
            </md-list>
        </div>
    
        <div class="phone-viewport">
            <md-list class="md-double-line md-dense">
                <md-list-item>
                    <md-icon class="md-primary">email</md-icon>
    
                    <div class="md-list-text-container">
                        <span>helloklf@outlook.com</span>
                        <span>个人邮箱</span>
                    </div>
    
                    <md-button class="md-icon-button md-list-action">
                        <md-icon>sms</md-icon>
                    </md-button>
                </md-list-item>
    
                <md-list-item class="md-inset">
                    <div class="md-list-text-container">
                        <span>kuanglinfei@phone580.com</span>
                        <span>公司邮箱</span>
                    </div>
                </md-list-item>
                <md-divider class="md-inset"></md-divider>
            </md-list>
    
            <md-list class="md-double-line">
                <md-list-item>
                    <md-icon class="md-primary">extension</md-icon>
    
                    <div class="md-list-text-container">
                        <span>119**34**3</span>
                        <span>QQ</span>
                    </div>
    
                    <md-button class="md-icon-button md-list-action">
                        <md-icon>public</md-icon>
                    </md-button>
                </md-list-item>
    
                <md-list-item class="md-inset">
                    <div class="md-list-text-container">
                        <span>klf***</span>
                        <span>微信</span>
                    </div>
                </md-list-item>
    
                <md-list-item class="md-inset">
                    <div class="md-list-text-container">
                        <span>https://github.com/helloklf</span>
                        <span>GitHub</span>
                    </div>
                </md-list-item>
            </md-list>
    
        </div>
    </div>
</template>

<script>
export default {
    methods: {

    }
}
</script>