<template>
  <div class="hello">
    <img src="../assets/logo.jpg" style="border-radius:50%;margin:2em auto;">
    <h3>email:helloklf@outlook.com</h3>
    <h5>嘟嘟斯基</h5>
  
    <div>
      <md-avatar>
        <img src="../assets/logo.jpg" alt="People">
      </md-avatar>
  
      <md-avatar class="md-avatar-icon">
        <md-icon>home</md-icon>
      </md-avatar>
  
      <md-avatar class="md-avatar-icon md-primary">
        <md-icon>folder</md-icon>
      </md-avatar>
  
      <md-avatar class="md-avatar-icon md-accent">
        <md-icon>favorite</md-icon>
      </md-avatar>
  
      <md-avatar class="md-avatar-icon md-warn">
        <md-icon>notes</md-icon>
      </md-avatar>
    </div>
  
    <md-list class="md-double-line" style="text-align:left;margin-top:3em;">
      <md-subheader>开源项目</md-subheader>
      <md-list-item>
        <md-icon>android</md-icon>
        <div class="md-list-text-container">
          <span>vtools</span>
          <span>Android</span>
        </div>
      </md-list-item>
      <md-list-item>
        <md-icon>public</md-icon>
        <div class="md-list-text-container">
          <span>webpack.vue_multiple_pages</span>
          <span>webpack es6 Vue</span>
        </div>
      </md-list-item>
      <md-list-item>
        <md-icon>forum</md-icon>
        <div class="md-list-text-container">
          <span>wxmp_modules</span>
          <span>微信小程序</span>
        </div>
      </md-list-item>
      <md-list-item>
        <md-icon>desktop_windows</md-icon>
        <div class="md-list-text-container">
          <span>EasyHotel</span>
          <span>WPF C#</span>
        </div>
      </md-list-item>
  
      <md-subheader style="margin-top:3em;">本页构建</md-subheader>
  
      <md-list-item v-on:click.native="vuejs">
        <md-avatar>
          <img class="icon" src="../assets/vue.png" alt="Vue">
        </md-avatar>
        <span>Vue.js</span>
        <md-button class="md-icon-button md-list-action">
          <md-icon class="md-primary">public</md-icon>
        </md-button>
      </md-list-item>
      <md-list-item v-on:click.native="md">
        <md-avatar>
          <img class="icon" src="../assets/md.png" alt="Vue Material Design">
        </md-avatar>
        <span>Vue Material Design</span>
        <md-button class="md-icon-button md-list-action">
          <md-icon class="md-primary">public</md-icon>
        </md-button>
      </md-list-item>
      <md-list-item v-on:click.native="node">
        <md-avatar>
          <img class="icon" src="../assets/node.png" alt="Node.js">
        </md-avatar>
        <span>Node.js</span>
        <md-button class="md-icon-button md-list-action">
          <md-icon class="md-primary">public</md-icon>
        </md-button>
      </md-list-item>
    </md-list>
  </div>
</template>

<script>
export default {
  methods: {
    vuejs() {
      window.location.href = 'https://cn.vuejs.org/';
    },
    md() {
      window.location.href = 'https://vuematerial.github.io/';
    },
    node() {
      window.location.href = 'https://nodejs.org/en/';
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.icon {
  max-height: 40px;
  max-width: 40px;
  height: auto;
  width: auto;
  vertical-align: middle;
  background-color: #ddd;
}

.hello {

  text-align: center;
}

h1,
h2 {
  font-weight: normal;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: inline-block;
  margin: 0 10px;
}

a {
  color: #42b983;
}
</style>
