<template>
    <div class="panel">
        <md-card>
            <md-card-area>
                <md-card-media>
                    <img src="https://vuematerial.github.io/assets/card-image-1.jpg" alt="People">
                </md-card-media>
    
                <md-card-header>
                    <div class="md-title">Title goes here</div>
                    <div class="md-subhead">Subtitle here</div>
                </md-card-header>
    
                <md-card-content>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio itaque ea, nostrum odio. Dolores, sed accusantium quasi non, voluptas eius illo quas, saepe voluptate pariatur in deleniti minus sint. Excepturi.
                </md-card-content>
            </md-card-area>
    
            <md-card-actions>
                <md-button>查看详情</md-button>
                <md-button>GITHUB</md-button>
            </md-card-actions>
        </md-card>
    </div>
</template>

<style>
    .panel{
        padding: 1em;
    }
</style>
