<template>
  <iframe v-bind:src="src" frameborder="0"></iframe>
</template>

<style scpoed>
    iframe{
        display: block;
        height: 100%;
        width: 100%;
        overflow: auto;
    }
</style>


<script>
    export default{
        props:{
            src:String
        }
    }
</script>