<template>
  <div id="app" v-md-theme="'default'">
    <md-toolbar>
      <md-button class="md-icon-button" @click="toggleLeftSidenav">
        <md-icon>menu</md-icon>
      </md-button>
  
      <h2 class="md-title">OMAREA.COM</h2>
    </md-toolbar>
  
    <!-- 路由出口 -->
    <!-- 路由匹配到的组件将渲染在这里 -->
    <router-view class="contents"></router-view>
  
    <md-sidenav class="md-left" ref="leftSidenav" @open="open('Left')" @close="close('Left')">
      <md-toolbar class="md-large">
        <div class="md-toolbar-container">
          <h3 class="md-title">侧边导航内容</h3>
        </div>
      </md-toolbar>
      <md-list>
        <md-list-item>
          <router-link to="/home">
            <md-icon>home</md-icon>
            <span>网站首页</span>
          </router-link>
        </md-list-item>
        <md-list-item>
          <router-link to="/vtools">
            <md-icon>import_contacts</md-icon>
            <span>我的文章</span>
          </router-link>
        </md-list-item>
        <md-list-item>
          <router-link to="/opensource">
            <md-icon>view_carousel</md-icon>
            <span>开源项目</span>
          </router-link>
        </md-list-item>
        <md-list-item>
          <router-link to="/contact">
            <md-icon>send</md-icon>
            <span>联系作者</span>
          </router-link>
        </md-list-item>
      </md-list>
    </md-sidenav>
  
  </div>
</template>

<script>
export default {
  name: 'app',
  methods: {
    toggleLeftSidenav() {
      this.$refs.leftSidenav.toggle();
    },
    open(ref) {
      console.log('Opened: ' + ref);
    },
    close(ref) {
      console.log('关闭d: ' + ref);
    }
  }
}
</script>

<style>
* {
  box-sizing: border-box;
}

body,
html,
#app {
  height: 100%;
  margin: 0;
  padding: 0;
}

#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
  display: flex;
  flex-direction: column;
}

.contents {
  overflow: auto;
  flex: 1;
  -webkit-overflow-scrolling: touch;
}
</style>
